In [65]:
import pandas as pd
import os
from selenium import webdriver

In [63]:
# 크롬으로 웹창 시작  # 한번에 4개 csv 파일 만들 수 있도록 정리 요망
browser = webdriver.Chrome()
# 증권 데이터 url 정의  (삼성=005930, SK하이닉스=000660, SK스퀘어=402340, DB하이텍=000990)
data_code = {'samsung': '005930', 'skhynix': '000660', 'sksquare': '402340', 'dbhitek': '000990'}
page = 1

for p in range(1, 37):
    url = f'https://finance.naver.com/item/sise_day.naver?code={data_code}&page={page}'
    # url 정보 가져오기
    browser.get(url)
    # 삼성 데이터 추출
    samsung_df = pd.read_html(browser.page_source)[0]
    # 모든 행의 요소가 결측치일 경우 행 삭제
    samsung_df.dropna(axis='index', how='all', inplace=True)
    # 전일비 culumn 삭제
    samsung_df.drop(['전일비'], axis=1, inplace=True)
    # csv파일로 저장
    data_info = 'samsung.csv'
    if os.path.exists(samsung_info):
        samsung_df.to_csv(samsung_info, encoding='utf-8-sig', index=False, mode='a', header=False)
    else:
        samsung_df.to_csv(samsung_info, encoding='utf-8-sig', index=False)
    print(f'{page}페이지 완료')
    page += 1

1페이지 완료
2페이지 완료
3페이지 완료
4페이지 완료
5페이지 완료
6페이지 완료
7페이지 완료
8페이지 완료
9페이지 완료
10페이지 완료
11페이지 완료
12페이지 완료
13페이지 완료
14페이지 완료
15페이지 완료
16페이지 완료
17페이지 완료
18페이지 완료
19페이지 완료
20페이지 완료
21페이지 완료
22페이지 완료
23페이지 완료
24페이지 완료
25페이지 완료
26페이지 완료
27페이지 완료
28페이지 완료
29페이지 완료
30페이지 완료
31페이지 완료
32페이지 완료
33페이지 완료
34페이지 완료
35페이지 완료
36페이지 완료

In [64]:
pd.read_csv('samsung.csv')

             날짜       종가       시가       고가       저가         거래량
0    2023.02.17  62600.0  62900.0  63300.0  62400.0  10675131.0
1    2023.02.16  63700.0  62500.0  63700.0  62400.0  13798831.0
2    2023.02.15  62200.0  63900.0  63900.0  62000.0  13208103.0
3    2023.02.14  63200.0  63600.0  63900.0  63200.0   9126664.0
4    2023.02.13  62900.0  62900.0  63000.0  62300.0  10730362.0
..          ...      ...      ...      ...      ...         ...
355  2021.09.08  76300.0  76000.0  76400.0  75600.0  11798147.0
356  2021.09.07  76100.0  77100.0  77100.0  75900.0  13239401.0
357  2021.09.06  77300.0  76800.0  77600.0  76600.0  12861180.0
358  2021.09.03  76600.0  76400.0  76700.0  76000.0  12096419.0
359  2021.09.02  76000.0  76800.0  76800.0  75700.0  15347486.0

[360 rows x 6 columns]