In [1]:
import pandas as pd
import os
from selenium import webdriver

In [2]:
# 크롬으로 웹창 시작  # 한번에 4개 csv 파일 만들 수 있도록 정리 요망
browser = webdriver.Chrome()
# 증권 데이터 url 정의  (삼성=005930, SK하이닉스=000660, SK스퀘어=402340, DB하이텍=000990)

# 받을 데이터 추가
datas_1 = [['samsung', '005930'],['skhynix', '000660'], ['sksquare', '402340'], ['dbhitek', '000990']]
datas_2 = [['kakao', '035720'], ['naver', '035420']]

# 날짜 지정  예시) 2020.01.01
start_date = '2021.07.01'
end_date = '2022.12.31'

for com_name, com_code in datas_2:
    page = 1
    print(f'{com_name}크롤링 시작\n')
    # 페이지 변수 p도 날짜에 맞춰서 정해줘야 한다.
    for p in range(1, 45):
        url = f'https://finance.naver.com/item/sise_day.naver?code={com_code}&page={page}'
        # url 정보 가져오기
        browser.get(url)
        # 삼성 데이터 추출
        com_df = pd.read_html(browser.page_source)[0]
        ## 전처리
        # 모든 행의 요소가 결측치일 경우 행 삭제
        com_df.dropna(axis='index', how='all', inplace=True)
        # 전일비 culumn 삭제
        com_df.drop(['전일비'], axis=1, inplace=True)
        # 날짜 조정
        com_df = com_df[(com_df.날짜 >= start_date) & (com_df.날짜 <= end_date)]        
        # csv파일로 저장
        com_info = f'./csvs/{com_name}.csv'
        if os.path.exists(com_info):
            com_df.to_csv(com_info, encoding='utf-8-sig', index=False, mode='a', header=False)
        else:
            com_df.to_csv(com_info, encoding='utf-8-sig', index=False)
        print(f'{page}페이지완료', end='  ')
        page += 1
    print(f'\n\n{com_name}크롤링 완료\n')

kakao크롤링 시작

1페이지완료  2페이지완료  3페이지완료  4페이지완료  5페이지완료  6페이지완료  7페이지완료  8페이지완료  9페이지완료  10페이지완료  11페이지완료  12페이지완료  13페이지완료  14페이지완료  15페이지완료  16페이지완료  17페이지완료  18페이지완료  19페이지완료  20페이지완료  21페이지완료  22페이지완료  23페이지완료  24페이지완료  25페이지완료  26페이지완료  27페이지완료  28페이지완료  29페이지완료  30페이지완료  31페이지완료  32페이지완료  33페이지완료  34페이지완료  35페이지완료  36페이지완료  37페이지완료  38페이지완료  39페이지완료  40페이지완료  41페이지완료  42페이지완료  43페이지완료  44페이지완료

kakao크롤링 완료

naver크롤링 시작

1페이지완료  2페이지완료  3페이지완료  4페이지완료  5페이지완료  6페이지완료  7페이지완료  8페이지완료  9페이지완료  10페이지완료  11페이지완료  12페이지완료  13페이지완료  14페이지완료  15페이지완료  16페이지완료  17페이지완료  18페이지완료  19페이지완료  20페이지완료  21페이지완료  22페이지완료  23페이지완료  24페이지완료  25페이지완료  26페이지완료  27페이지완료  28페이지완료  29페이지완료  30페이지완료  31페이지완료  32페이지완료  33페이지완료  34페이지완료  35페이지완료  36페이지완료  37페이지완료  38페이지완료  39페이지완료  40페이지완료  41페이지완료  42페이지완료  43페이지완료  44페이지완료

naver크롤링 완료

In [3]:
naver_df = pd.read_csv('./csvs/naver.csv')
naver_df

             날짜        종가        시가        고가        저가       거래량
0    2022.12.29  177500.0  180000.0  185000.0  177500.0  656658.0
1    2022.12.28  180000.0  179000.0  183500.0  178000.0  580495.0
2    2022.12.27  181000.0  179500.0  182500.0  179000.0  492232.0
3    2022.12.26  178500.0  178500.0  180500.0  177000.0  350843.0
4    2022.12.23  178000.0  180500.0  182000.0  178000.0  613209.0
..          ...       ...       ...       ...       ...       ...
366  2021.07.07  417500.0  411000.0  419000.0  410500.0  663260.0
367  2021.07.06  409500.0  411500.0  412500.0  408000.0  342771.0
368  2021.07.05  410000.0  415500.0  418000.0  408500.0  492899.0
369  2021.07.02  414000.0  412500.0  418500.0  407000.0  517934.0
370  2021.07.01  413000.0  418000.0  423500.0  410500.0  592869.0

[371 rows x 6 columns]