In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import datetime
import urllib.parse
import os

In [71]:
# 시간 설정
## start_date
sd = datetime.datetime(2022, 12, 1)
## end_date
ed = datetime.datetime(2022, 12, 5)

## 날짜를 +- 할 수 있는 n변수
n = datetime.timedelta(days=1)

# 페이지
page = 1

# 데이터를 저장할 빈 리스트 생성
news_titles = []

# 네이버 url검색을 위한 이중 인코딩
## 1. 단어를 EUC-KR 인코딩
char = '넷플릭스'
euc_char = char.encode('euc-kr')
## 2. euc-kr 인코딩 한 문자열을 URL 인코딩
url_char = urllib.parse.quote(euc_char)

while sd != ed:
    # 날짜 정의
    bar_date = sd.strftime('%Y-%m-%d')
    # url 정보 가져오기
    url = f'https://finance.naver.com/news/news_search.naver?rcdate=&q={url_char}&sm=title.basic&pd=4&stDateStart={bar_date}&stDateEnd={bar_date}'
    res = requests.get(url)
    html = res.content
    bs_html = BeautifulSoup(html, 'lxml')
    # 기사 제목만 추출
    chars = bs_html.select('dd.articleSubject > a')
    
    for char in chars:
        if char:
            news_title = char.text.strip()
        else:
            pass
        # 리스트로 저장
        news_titles.append([bar_date, news_title])

    sd += n
print('뉴스 기사 크롤링 완료')

뉴스 기사 크롤링 완료

In [72]:
news = pd.DataFrame(news_titles, columns=['날짜', '제목'])
news.to_csv('./csvs/news.csv', index=False)

In [74]:
pd.read_csv('./csvs/news.csv')

           날짜                                                제목
0  2022-12-01          휴넷 HRD Flex, 중소기업 교육 무상지원.. 기업교육도 넷플릭스처럼
1  2022-12-01  넷플릭스·메타 CEO, 일론 머스크 트위터 경영 극찬…실리콘밸리 머스크 행보 '따...
2  2022-12-01                    KT스카이라이프 "넷플릭스 광고요금제 리모컨으로 가입"
3  2022-12-01           "넷플릭스 따라잡는다"...'토종 OTT 1위' 탄생, 티빙·시즌 합병
4  2022-12-02                넷플릭스 빼고 다 적자인데…시즌 품은 티빙, 수익성 문제 풀까
5  2022-12-02  뉴욕증시, 고용보고서 발표 대기하며 혼조…‘넷플릭스 3.74%↑’ 유가 상승·비트...

In [52]:
char = '넷플릭스'
encoded_char = char.encode('euc-kr')
url_char = urllib.parse.quote(encoded_char)
print(url_char)

%B3%DD%C7%C3%B8%AF%BD%BA

In [10]:
url = 'https://finance.naver.com/news/news_search.naver?rcdate=&q=%BB%EF%BC%BA%C0%FC%C0%DA&x=0&y=0&sm=title.basic&pd=4&stDateStart=2023-02-22&stDateEnd=2023-02-22&page=1'
res = requests.get(url)
html = res.content
bs_html = BeautifulSoup(html, 'lxml')

In [49]:
# 뉴스 기사 제목 추출
titles = bs_html.select('dd.articleSubject > a')
for title in titles:
    print(title.text.strip())

삼성전자 C랩 대구 출범… 지역 스타트업, 유니콘으로 육성
삼성전자, 지방의 스타트업도 적극 돕는다...대구에 C랩 아웃사이드 첫 지역 캠퍼...
지역 스타트업 키운다… 삼성전자, 'C랩 아웃사이드 대구' 출범
삼성전자가 픽한 대구 스타트업…헬스케어·로봇 등 혁신 기업
삼성전자, 'C랩 아웃사이드 대구' 출범
삼성전자, 'C랩 아웃사이드 대구' 캠퍼스 개소
스타트업 육성 팔 걷은 삼성전자, 'C랩 아웃사이드 대구' 개소
"삼성전자 작년 직원 평균 연봉 1억3000만원…CEO는 43억 이상"
스타트업 키우고 지역경제 살리고… 삼성전자, 대구에 C랩 아웃사이드
삼성전자, 지역 스타트업 육성 나섰다…대구서 첫발
삼성전자, C랩 아웃사이드 대구캠퍼스 개소
삼성전자, C랩 아웃사이드 대구캠퍼스 개소
삼성전자, C랩 아웃사이드 대구캠퍼스 개소
삼성전자, 'C랩 아웃사이드 대구' 출범..."지역 스타트업 활성화"
삼성전자 ‘C랩 아웃사이드 대구’ 출범
삼성전자 스타트업 육성 프로그램 'C랩 아웃사이드' 대구 상륙
'지방 챙기는' JY…삼성전자 스타트업 육성 지원 대구로 확대
“지역 스타트업 생태계 만든다” 삼성전자, ‘C랩 아웃사이드 대구’ 출범
'지역 경제 활성화'에 힘 싣는 삼성전자…대구서 'C랩 아웃사이드' 개소
삼성전자, ‘C랩 아웃사이드 대구’ 출범…“지역 스타트업 생태계 활성화 앞장”

In [ ]:
# n 날짜의 마지막 페이지 추출
bs_html.select('td.pgRR > a')[0]['href'].split('page=')[-1]