In [1]:
import numpy as np
import pandas as pd

In [1]:
# Q1. 데이터 로드를 해보세요. (데이터는 \t로 기준으로 구분되어 있다.)

In [2]:
lol_df = pd.read_csv('./lol_data/games.csv')

In [2]:
# Q2. 데이터 상위의 3개행만 추출해보세요.

In [3]:
lol_df.head(3)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28

In [3]:
# Q3. 데이터의 행과 열의 개수를 파악하라.

In [7]:
lol_df.shape

(51490, 61)

In [4]:
# Q4. 전체 컬럼을 출력해보세요.

In [8]:
lol_df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [5]:
# Q5. 7번째 컬럼명을 출력하라

In [9]:
lol_df.columns[6]

'firstTower'

In [ ]:
# Q6. 9번째 컬럼의 자료속성의 데이터 타입을 출력하라

In [12]:
lol_df.iloc[:, 8].dtype

dtype('int64')

In [6]:
# Q7. 데이터셋의 인덱스를 확인하는 방법은?

In [13]:
lol_df.index

RangeIndex(start=0, stop=51490, step=1)

In [7]:
# Q8. 9번째 컬럼의 3번째 값은??

In [15]:
lol_df.iloc[2, 8]  # [row, col]

1

In [ ]:
# Q9. 문자형 데이터를 가진 컬럼

In [20]:
lol_df.select_dtypes('str')

TypeError: string dtypes are not allowed, use 'object' instead

In [8]:
# end of files