In [1]:
import pandas as pd
import numpy as np

In [2]:
st_df = pd.read_csv('ysp_files/st_default.csv')

In [3]:
st_df.isna().sum()  # 결측값 없음

Unnamed: 0    0
default       0
student       0
balance       0
income        0
dtype: int64

In [14]:
# 필요 없는 column 은 없앤다.
st_features = st_df.loc[:, ['balance', 'income']]
st_col = st_df.student  # 추후 문자열을 숫자로 인코딩 후 label
st_default = st_df.default
st_features

          balance       income
0      729.526495  44361.62507
1      817.180407  12106.13470
2     1073.549164  31767.13895
3      529.250605  35704.49394
4      785.655883  38463.49588
...           ...          ...
9995   711.555020  52992.37891
9996   757.962918  19660.72177
9997   845.411989  58636.15698
9998  1569.009053  36669.11236
9999   200.922183  16862.95232

[10000 rows x 2 columns]

In [5]:
# 문자열을 숫자로 변경 label encoding
from sklearn.preprocessing import LabelEncoder

In [17]:
# student 여부 Yes or No 를 인코딩
lb_encoder = LabelEncoder()
lb_encoder.fit(st_col)
st_label = lb_encoder.transform(st_col)
st_label = pd.Series(st_label)

# default 여부 Yes or No 를 인코딩
lb_encoder.fit(st_default)
st_default_ec = lb_encoder.transform(st_default)
st_default_ec = pd.Series(st_default_ec)

# 인코딩 한 default 값들을 x 컬럼에 추가
st_features['default'] = st_default_ec

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Length: 10000, dtype: int32

In [7]:
# train 과 test 분리
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(st_features, st_label)

In [9]:
# 의사결정나무 알고리즘 사용
from sklearn.tree import DecisionTreeClassifier

In [10]:
dt_clf = DecisionTreeClassifier()  # 알고리즘 객체화
dt_clf.fit(x_train, y_train)  # 학습 시키기

DecisionTreeClassifier()

In [11]:
# 학습을 바탕으로 예측 값 생성
y_pred = dt_clf.predict(x_test)

In [12]:
# 평가 하기
from sklearn.metrics import accuracy_score as acc_sc

In [13]:
acc_sc(y_test, y_pred)

0.9124