In [2]:
# Q1. 데이터 로드 (\t로 구분되어 있다.)

import pandas as pd
game_df = pd.read_csv('./lol_data/games.csv')

In [5]:
# Q2. 데이터의 상위 3개행만 가져와주세요.

game_df.head(3)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28

In [7]:
# Q3. 데이터의 행과 열을 파악하라.

answer = game_df.shape
print(answer)

(51490, 61)

In [11]:
# Q4. 전체컬럼을 가져와보세요.

game_df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [15]:
# Q5. 7번째 컬럼명을 가져와주세요.
game_df.columns[6]

'firstTower'

In [20]:
# Q6. 9번째 컬럼의 데이터 속성을 가져와주세요.
# iloc 위치기반 인덱싱
# loc 명칭기반 인덱싱 

# 제가 원하는 바(A0)
game_df.iloc[:,8]

# 깔끔하게 답만 추출하는 방법
game_df.iloc[:,8].dtype

dtype('int64')

In [23]:
# Q7. 전체 데이터의 인덱스를 가져와주세요. - (지금 가르쳐드림)

game_df.index

RangeIndex(start=0, stop=51490, step=1)

In [24]:
# Q8. 9번째 컬럼의 3번째 값을 가져와주세요.

game_df.iloc[2,8]

1

In [28]:
?pd.DataFrame.select_dtypes

In [29]:
# Q9. 문자형 데이터를 가진 컬럼을 추출해보자. - (지금 가르쳐드림)
# select_dtypes()함수

game_df.select_dtypes(include='object') # include // exclude

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[51490 rows x 0 columns]

In [30]:
# end of files